
#lensimage {
  height: 500px;
  width: 700px;
  text-align: center;
}

#rootpage {
  height: 700px;
  width: 700px;
  text-align: center;
}

.row-spacing {
  margin-bottom: 40px;
}

#create {
  font-weight: bold;
  font-size: 20px;
}
