body {
  background-image: url("http://static.flickr.com/8068/8267361454_42586793fb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 450px;
}
