<h1>About</h1>
<p>This is a little getaway where users can add art imgages,
music, coffee shops and technologies they like and share it with the rest
of the community.</p>

<img id="aboutpage" src="http://img15.deviantart.net/fcdb/i/2015/040/1/1/life_through_the_lens_by_kabdul-d8hf6xr.jpg">
