
<div class="col-sm-6 col-sm-offset-1">
  <h1>About</h1>
    <p>This is a little getaway where users can add links to art,
    music videos, coffee shops and technologies they'd like to share with the rest
    of the community.</p>
<img id="aboutpage" src="http://img15.deviantart.net/fcdb/i/2015/040/1/1/life_through_the_lens_by_kabdul-d8hf6xr.jpg">
</div>
