<div class="container">
  <h1>What would you like to do?</h1>
</div>

<div class="col-sm-6 col-sm-offset-1">
  <h2>Check out some ...</h2>
    <div class="text-xs-center">
<img class="img-rounded" src="https://i.imgur.com/BPMIuzW.jpg" width="1024" height="684">
    </div>
</div>





