

<h1>What would you like to do?</h1>
<h2><small>Check out some ...</small></h2>

<p>
<img id="lensimage" src="https://i.imgur.com/BPMIuzW.jpg" alt="My Lens">
</p>

<%= link_to "Art",         shares_path(category: "Art"), class: "btn btn-primary" %><br>
<%= link_to "Music",       shares_path(category: "Music"), class: "btn btn-success" %><br>
<%= link_to "Coffeeshops", shares_path(category: "Coffeeshops"), class: "btn btn-info" %><br>
<%= link_to "Tech",        shares_path(category: "Tech"), class: "btn btn-warning" %>

